.container
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th User
        %th Name
        %th Domain
        %th Url
        %th Auth Type
    %tbody
      - @proxy_rules.each do |rule|
        %tr
          - if rule.user == current_user
            %td= link_to rule.id, edit_proxy_rule_path(rule)
          - else
            %td= rule.id
          %td= rule.user.name
          %td= rule.name
          %td= link_to rule.domain, rule.link_url
          %td= rule.url
          %td= rule.auth_type
