!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          = link_to title, root_path, class: 'navbar-brand'
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{ class: current_page?(root_path) ? 'active' : '' }
              = link_to 'Home', root_path
            %li{ class: current_page?(proxy_rules_path) ? 'active' : '' }
              = link_to 'ルール一覧', proxy_rules_path
            %li{ class: current_page?(new_proxy_rule_path) ? 'active' : '' }
              = link_to 'ルールを作成', new_proxy_rule_path
          %ul.nav.navbar-nav.navbar-right
            - if current_user.blank?
              %li
                = link_to 'ログインする', auth_path(:slack)
            - else
              %li
                %a= current_user.name

    - if flash[:notice]
      .container
        %p.bg-success= flash[:notice]

    = yield
